{{ form_start(form) }}

<div class="row">
	<div class="col-md-6">
		{{ form_row(form.titre) }}
	</div>
	<div class="col-md-6">
		{{ form_row(form.prix) }}
	</div>
</div>

<div class="row">
	<div class="col-md-4">{{ form_row(form.taille) }}</div>
	<div class="col-md-4">{{ form_row(form.genre) }}</div>
	<div class="col-md-2">{{ form_row(form.color) }}</div>
	<div class="col-md-2">{{ form_row(form.stock) }}</div>
</div>

{{ form_row(form.image) }}
{{ form_row(form.description) }}


<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
